<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Авторизация</h2>
        <p class="text-primary">Если Вы уже зарегистрированы в сервисе, Вы можете использовать кнопку ниже, чтобы получить доступ к защищаемым ресурсам.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Войти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Регистрация</h2>
        <p class="text-primary">Используйте кнопку ниже, чтобы создать аккаунт для доступа к защищаемым ресурсам.</p>
        <p><a class="btn btn-info" href="#/register" role="button">Зарегистрироваться &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
